---
import { Image } from "astro:assets";

---

<section class="home-hero">
  <div class="content">
    <h1>Masjid Al-Fatimah</h1>
    <p>
      We practice and propagate Islam as a way of life as described by the
      Prophet Muhammad PBUH and his house hold progeny (Ahlulbayt).
    </p>
    <a href="/donation">Donate</a>

  </div>
  <div>
    <Image
      src="/images/webp/hero-image.webp"
      alt="Masjid Al-Fatimah building exterior"
      width={690}
      height={425}
      loading="eager"
      fetchpriority="high"
    />
  </div>
</section>
